@import "./style/color.scss";
@import "./style/header.scss";
@import "./style/footer.scss";

.App {
    display: flex;
    $padding: 20px;
    min-height: 100vh;
    width: 100%;
    padding: $padding;
    background-color: var(--body-color);
}

.widthFix{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    scrollbar-width: thin;          /* "auto" or "thin" */
    scrollbar-color: #888 #f1f1f1;   /* scroll thumb and track */
}